*{
    padding: 10px;
}
.area{
    display: flex;
    flex-direction: column;
    width: 200px;
}
label{
    color: green;
}
input[type="text"]{
    border: 2px solid green;
}
input[type="email"]{
    background-color: blue;
}